* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000000;
  }
  
.container {
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    background-color: #12111b;
    border-radius: 20px;
    font-size: 25px;
  }
  
header {
    background: #12111b;
    color: #ffffff;
    padding: 10px 0;
  }
  
header h1 {
    float: left;
    margin-left: 29%;
    margin-right: 5%;
  }

.nav {
    background-color: #12111b;
    padding: 10px;
}
.nav ul {
    list-style-type: none;
    text-align: left;
    align-items: center;
    background-color: #12111b;
    display: block;
    justify-content: space-evenly;
}
.nav ul li {
    display: inline;
    margin-right: 60px;
    text-decoration: none;
    font-size: 25px;
}
.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #12111b;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 3px;
}
.nav ul li a:hover {
    color: #ffffff;
    background-color: white;
    color: black;
}
  
section {
    padding: 20px 0;
  }
  
h2 {
    margin-bottom: 20px;
  }
  
.project {
    margin-bottom: 20px;
  }
  
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

.sociallinks {
    
    text-align: center;

}